$color: #ffebef;
$breakpoint-tablet: 768px;

.card-sass {
  border-radius: 0.25rem;
  background-color: $color;

  @media (min-width: $breakpoint-tablet) {
    max-width: 20rem;
  }

  .card-content-sass {
    padding: 1rem;
  }
  .cart-footer-sass {
    padding: 0rem 1rem 1rem;
    text-align: right;
  }
}
