$color: pink;
$breakpoint-tablet: 768px;

.parent-sass {
  background-color: lightgrey;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
  font-weight: 900;
  text-align: center;
  color: $color;

  @media (min-width: $breakpoint-tablet) {
    max-width: 20rem;
  }

  .child1-sass {
    background-color: blue;
    opacity: 0.6;
    margin: 1rem;
    padding: 1rem;
    display: inline-block;
  }
  .child2-sass {
    background-color: teal;
    opacity: 0.6;
    margin: 1rem;
    padding: 1rem;
    display: inline-block;
  }
}
