.card {
  background-color: #ffebef;
  border-radius: 0.25rem;
}

@media (min-width: 768px) {
  .card {
    max-width: 20rem;
  }
}

.card .cardContent {
  padding: 1rem;
}

.card .cardFooter {
  padding: 0rem 1rem 1rem;
  text-align: right;
}
