.card {
  background-color: #ffebef;
  border-radius: 0.25rem;
}

@media (min-width: 768px) {
  .card {
    max-width: 20rem;
  }
}

.card .card-content {
  padding: 1rem;
}

.card .card-footer {
  padding: 0rem 1rem 1rem;
  text-align: right;
}
